{#
 # 404 template
 # ------------
 #
 # This template is loaded whenever Craft cannot figure out how to
 # respond to an incoming request. No setup is involved to get your
 # 404 page working; you just need to call it 404.html and put it
 # at the root of your craft/templates/ folder.
 #
 # You can also create 400.html, 403.html, 500.html, and 503.html
 # templates if you’d like. If Craft can’t find an error template
 # to match the error code, it will just use the one in
 # craft/app/templates/ instead.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "404" %}

{% block content %}

{% include 'components/cookie' %}
	
<div class="grid grid--gutter">
    <div class="s-col-12 pad-bottom">
        <h1>404</h1>
    </div>
    
    <div class="s-col-12 pad-bottom">
        <a href="{{ siteUrl }}guides" class="button button--black">Guides</a>
    </div>
    <div class="s-col-12 pad-bottom">
        <a href="{{ siteUrl }}features" class="button button--black">Features</a>
    </div>
    <div class="s-col-12 pad-bottom">
        <a href="{{ siteUrl }}info" class="button button--black">Info</a>
    </div>
    <div class="s-col-12 pad-bottom">
        <a href="{{ globals.shopUrl }}" class="button button--black">Duty Free</a>
    </div>
    <div class="s-col-12 pad-bottom">
        <a href="{{ siteUrl }}page/join" class="button button--black">Join</a>
    </div>
</div>
	
{% endblock %}
